@tailwind base;
@tailwind components;
@tailwind utilities;


:root,
#root {
  --back: #04142a;
  --violet: #4E34E1;
  --green: #60d192;
  --gray: #6b6b82;
  --red: #ef7b89;
  --blue: #010057;
  --bg1: #fafaff;
  --bg2: #f4f4ff;
  --bg3: #fff5f5;
}